/* * GENERAL STYLE RULES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	font-size: 62.5%;
	font-family: "Lato", sans-serif;
	color: #272727;
}

/* * COMMON STYLE PATTERN */

.highlight {
	color: #e55473;
}

button {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn {
	background-color: #e55473;
	padding: 2rem 4.3rem;
	border-radius: 1rem;
	color: #fff;
	font-size: 2rem;
}

.secondary_heading {
	font-size: 3.2rem;
	font-weight: 800;
}

.secondary_summary {
	font-size: 1.6rem;
	line-height: 1.5;
	margin: 2rem 0 3rem;
	max-width: 60rem;
}

/* * HEADER SECTION STYLE */

.hero_section {
	background: #e554731a;
	padding: 5rem 19rem 0;
	display: flex;
	gap: 7.5rem;
	align-items: center;
}

.hero_content {
	max-width: 56rem;
}

.hero_content h1 {
	font-size: 6.2rem;
	font-weight: 800;
}

.hero_content p {
	font-size: 1.5rem;
	font-weight: 500;
	margin: 3.2rem 0;
	line-height: 1.8;
	letter-spacing: 0.5px;
}

.hero_image img {
	width: 100%;
}

/* * MAIN SECTION STYLE */

.container {
	max-width: 114rem;
	margin: 0 auto;
}

.feature_flowers {
	margin: 12rem auto;
}

.feature_flowers figure {
	text-align: center;
}

.feature_flowers figure figcaption {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-decoration: underline;
	margin-top: 2rem;
}

.feature_flowers h2,
.feature_flowers p {
	text-align: center;
	max-width: 60rem;
	margin: 2rem auto;
}

.feature_flowers figure .flower {
	display: grid;
	align-items: end;
	padding: 0 7rem;
	max-width: 36.5rem;
	height: 40rem;
	border-radius: 50% 50% 0 0;
}

.feature_flowers figure .flower-1 {
	background-color: #a7216226;
}

.feature_flowers figure .flower-2 {
	background-color: #0597a026;
	align-items: center;
}

.feature_flowers figure .flower-3 {
	background-color: #477d1126;
}

.feature_flowers figure img {
	width: 100%;
}

.feature_flowers .flowers {
	display: flex;
	justify-content: space-around;
	gap: 2.4rem;
	margin-top: 5rem;
}

/* * BENEFITS SECTION */

.benefits_section {
	background: #2727270d;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8rem;
	padding: 7rem 13rem;
	text-align: center;
}

.benefits_section figure figcaption {
	font-size: 1.9rem;
	font-weight: 600;
}

.benefits_section figure img {
	margin-bottom: 2rem;
}

/* * OFFER SECTION */

.discount_section {
	background-color: #e554730d;
	margin: 12rem 0;
}

.discount_display {
	padding: 10rem 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.discount_display figure img {
	width: 100%;
}

.discount_content {
	max-width: 50rem;
	text-align: center;
}

/* * INSTAGRAM SECTION */

.instagram_section {
	margin: 12rem auto;
}

.instagram_section h2 {
	text-align: center;
}

.instagram_section p {
	text-align: center;
	margin: 2rem auto 3rem;
}

.instagram_images {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.instagram_images figure img {
	width: 100%;
}

/* * NEWSLETTER SECTION */

.newsletter_section {
	background: url("./Flower-Assets/Rectangle\ 9.png") no-repeat center;
	background-size: cover;
	padding: 12rem 20rem;
	border-radius: 0.3rem;
	margin: 12rem auto;
	text-align: center;
}

.newsletter_section p {
	margin: 1rem auto 3rem;
}

.newsletter_section .form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.newsletter_section .form input {
	flex: 1;
	border: none;
	outline: none;
	border-radius: 0.5rem;
	padding: 2rem 3rem;
	font-size: 1.6rem;
}

/* * FOOTER SECTION STYLE */

footer {
	background-color: #111010;
	text-align: center;
	padding: 12rem;
}

footer h1 {
	color: white;
	font-size: 3.8rem;
	letter-spacing: 1px;
}

footer p:first-of-type {
	color: #ffffffe5;
	margin: 2rem auto 3rem;
}

footer p:last-of-type {
	color: #ffffff66;
	letter-spacing: 1px;
}
